.color-primary {
  color: #e40712 !important;
}
.color-primary-hover:hover {
  color: #e40712 !important;
}
.color-off-primary {
  color: #f82630;
}
.color-off-primary-hover:hover {
  color: #f82630;
}
.color-off-light {
  color: #e6e6e6;
}
.color-off-dark-hover:hover {
  color: #2d2d2d;
}

.background-color-primary {
  background-color: #e40712;
}
.background-color-off-light {
  background-color: #e6e6e6;
}

@keyframes animate-upwards {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
.animate-upwards {
  animation: animate-upwards 5s ease-in-out;
  animation-fill-mode: forwards;
}

/* 
Base settings inspired by Sakura CSS.
https://github.com/oxalorg/sakura
*/
:root {
  --scrollbar-width: 50px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: sans-serif;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: overlay;
}

label {
  cursor: pointer;
  user-select: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

p {
  word-spacing: 0em;
  text-indent: 1em;
  line-height: 1.3em;
  margin-bottom: 0.5em;
  max-width: clamp(40ch, 50%, 75ch);
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  text-align: justify;
}

ul {
  list-style-type: none;
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 235%;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 175%;
}

h4 {
  font-size: 150%;
}

h5 {
  font-size: 125%;
}

h6 {
  font-size: 100%;
}

#root {
  min-height: 100vh;
  font-size: 2.4rem;
  background-color: black;
}

.center-content {
  min-height: 100%;
  display: grid;
  place-items: center;
}

.hoverable {
  transition: all 0.05s ease;
  cursor: pointer;
}
.hoverable:hover {
  transform: translateY(-0.1em);
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.hoverable:active {
  transform: translateY(0);
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}
.hoverable-children > * {
  transition: all 0.05s ease;
  cursor: pointer;
}
.hoverable-children > *:hover {
  transform: translateY(-0.1em);
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.hoverable-children > *:active {
  transform: translateY(0);
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}
.hoverable-half {
  transition: all 0.05s ease;
  cursor: pointer;
}
.hoverable-half:hover {
  transform: translateY(-0.05em);
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.hoverable-half:active {
  transform: translateY(0);
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}
.hoverable-double {
  transition: all 0.05s ease;
  cursor: pointer;
}
.hoverable-double:hover {
  transform: translateY(-0.2em);
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.hoverable-double:active {
  transform: translateY(0);
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.page-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  background-color: #2d2d2d;
}
@media (max-width: 1200px) {
  .page-container {
    font-size: 2rem;
    grid-template-columns: 1fr 3fr;
  }
}
@media (max-width: 850px) {
  .page-container {
    font-size: 1.6rem;
    grid-template-columns: 0fr 1fr;
  }
}
@media (max-width: 750px) {
  .page-container {
    font-size: 1.2rem;
    grid-template-columns: 0fr 1fr;
  }
}

.page-sidebar-container {
  width: 100%;
}

.page-sidebar {
  height: 100vh;
  width: 20%;
  position: fixed;
}
@media (max-width: 1200px) {
  .page-sidebar {
    width: 25%;
  }
}
@media (max-width: 850px) {
  .page-sidebar {
    display: none;
  }
}

.page-main {
  overflow: hidden;
  border-radius: 4px;
}

.flex {
  display: flex;
}
.flex.between {
  justify-content: space-between;
}

.center-grid-justified {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.center-grid-justified .left {
  text-align: right;
}
.center-grid-justified .right {
  text-align: left;
}
.center-grid-justified.centered {
  position: relative;
  left: 13%;
}

.pointer {
  cursor: pointer;
}

.no-select {
  user-select: none !important;
}

.link:hover {
  text-decoration: underline;
}

/* custom scrollbar */
html > ::-webkit-scrollbar {
  position: absolute;
  width: 0.8em;
  background-color: #2d2d2d;
}

::-webkit-scrollbar {
  position: absolute;
  width: 0.5em;
  background-color: #2d2d2d;
}

.description > ::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
  border: 1em solid transparent;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #cccccc;
}

.create-character .create-header {
  text-align: center;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  border-bottom: 2px solid black;
  background-color: #e6e6e6;
  color: black;
}
.create-character .create-header .name {
  height: 3em;
  margin-bottom: 1rem;
}
.create-character .create-header .classes {
  height: 1em;
  margin-bottom: 0.7em;
}

.create-input {
  display: grid;
  grid-template-columns: 20% auto;
  column-gap: 0.5em;
}
.create-input label {
  text-align: right;
}

.race-input {
  text-align: center;
  font-size: 2em;
}

.create-char-name {
  text-align: center;
}

.create-body {
  display: flex;
  margin-top: 0.3em;
  width: 100%;
  justify-content: center;
}
.create-body .class-select {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 0.7em;
}
.create-body .class-select .selected {
  color: #e40712;
}
.create-body .class-select .class {
  user-select: none;
  cursor: pointer;
  transition: all 0.05s ease;
  cursor: pointer;
}
.create-body .class-select .class:hover {
  transform: translateY(-0.1em);
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.create-body .class-select .class:active {
  transform: translateY(0);
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}
.create-body .class-select .class:hover {
  color: #f80d19;
}
.create-body .class-select .class:active {
  color: #e40712;
}

.hp-icon {
  position: relative;
  top: 7px;
}
.hp-icon:hover {
  color: #e40712;
}

.create-level-sub {
  color: #e40712;
  margin-left: -0.2em;
}

.header-links {
  text-align: center;
  color: white;
  height: 95%;
  overflow-y: auto;
}
.header-links :first-child {
  margin-top: 1em;
}

.create-sidebar-link {
  cursor: pointer;
  padding: 0.2em 1em;
  border: 0.1em solid transparent;
}
.create-sidebar-link:hover {
  border: 0.1em solid white;
}

.create-sec-saving-throws {
  font-size: 1.5em;
}

.create-sec-proficiencies {
  position: relative;
  font-size: 1.2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5em;
  width: 60%;
  margin-bottom: 2em;
}
@media (max-width: 1500px) {
  .create-sec-proficiencies {
    font-size: 0.9em;
  }
}
@media (max-width: 750px) {
  .create-sec-proficiencies {
    font-size: 1.2rem;
    width: 70%;
  }
}

.create-proficiencies-subheader {
  font-size: 0.6em;
  display: inline-block;
  user-select: none;
  color: #7a7a7a;
}

.other-proficiency-list {
  width: 100%;
  font-size: 1.2em;
  min-height: 5em;
  position: relative;
  left: 10%;
}

.add-other-proficiency {
  font-size: 1.6em;
  display: flex;
  position: relative;
  justify-content: center;
  margin-bottom: 1em;
}
.add-other-proficiency input {
  display: block;
}
.add-other-proficiency i {
  display: block;
  position: relative;
  top: 0.3em;
  margin-left: 1em;
}

.create-alignment {
  display: grid;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.3em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: #2d2d2d;
  color: #e6e6e6;
  padding: 1em;
  gap: 0.2em;
}
.create-alignment .alignment {
  cursor: pointer;
  height: 4em;
  width: 4em;
  display: grid;
  place-items: center;
  transition: all 0.1s ease-in-out;
  user-select: none;
}
.create-alignment .alignment:hover {
  background-color: white;
  color: #2d2d2d;
  border-radius: 1em;
}
.create-alignment .alignment.active {
  animation: fill-box 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes fill-box {
  from {
    border-radius: initial;
  }
  to {
    border-radius: 0em;
    background-color: white;
    color: #2d2d2d;
  }
}

.create-sec-items {
  display: grid;
  grid-template-rows: 1fr;
  max-width: 75%;
  row-gap: 1em;
  place-items: center;
}
.create-sec-items .item-form {
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 2.5em 2em 2em 10em 1fr 3.5em;
  grid-template-areas: "name name name name name name name name" "rarity rarity rarity rarity type type type type" "weight weight weight cost cost cost cost cost" "desc desc desc desc desc desc desc desc" "rp rp rp rp rp rp rp rp" "submit submit submit submit submit submit submit submit";
}
.create-sec-items .item-form #name {
  grid-area: name;
}
.create-sec-items .item-form #name input {
  max-width: 100% !important;
  width: 100%;
}
.create-sec-items .item-form #rarity {
  grid-area: rarity;
}
.create-sec-items .item-form #type {
  grid-area: type;
}
.create-sec-items .item-form #weight {
  grid-area: weight;
}
.create-sec-items .item-form #weight input {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}
.create-sec-items .item-form #cost {
  grid-area: cost;
}
.create-sec-items .item-form #cost input {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}
.create-sec-items .item-form #desc {
  grid-area: desc;
  max-height: 10em;
}
.create-sec-items .item-form #desc textarea {
  display: block;
  width: 100%;
  height: 100%;
  resize: none;
}
.create-sec-items .item-form #submit {
  grid-area: submit;
}
.create-sec-items .item-form #rollable-property {
  grid-area: rp;
  max-width: 100%;
  overflow: hidden;
}
.create-sec-items .item-form #rollable-property .rollable-property {
  margin-top: 1em;
  max-width: 100%;
}
.create-sec-items .item-form #rollable-property .rollable-property .rp-form {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 30% 30% 30% 10%;
}
.create-sec-items .item-form #rollable-property .rollable-property .rp-form i {
  font-size: 1.5em;
}
.create-sec-items .item-form #rollable-property .rollable-property .list {
  margin-top: 0.7em;
  border: 1px solid #f82630;
  border-radius: 2px;
  display: grid;
  background-color: #2d2d2d;
  max-height: 15.5em;
  overflow-y: scroll;
}
.create-sec-items .item-form #rollable-property .rollable-property .list > :not(:first-child) {
  margin-top: 1em;
}
.create-sec-items .item-form #rollable-property .rollable-property .list .rollable-row {
  color: #cdcdcd;
  font-weight: 200;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.1fr;
  grid-template-areas: "rr-name rr-dice rr-type rr-trash";
  border-bottom: 1px dashed #e6e6e6;
}
.create-sec-items .item-form #rollable-property .rollable-property .list .rollable-row > * {
  padding: 0.5em;
}
.create-sec-items .item-form #rollable-property .rollable-property .list .rollable-row #rr-name {
  grid-area: rr-name;
}
.create-sec-items .item-form #rollable-property .rollable-property .list .rollable-row #rr-dice {
  grid-area: rr-dice;
}
.create-sec-items .item-form #rollable-property .rollable-property .list .rollable-row #rr-type {
  grid-area: rr-type;
}
.create-sec-items .item-form #rollable-property .rollable-property .list .rollable-row #rr-trash {
  grid-area: rr-trash;
}
.create-sec-items .item-cards-container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.create-sec-items .item-cards {
  max-height: 41em;
  font-size: 0.8em;
  padding: 1em;
  border: 1px solid black;
  display: flex;
  max-width: 34.5em;
  flex-wrap: wrap;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

.sec-backstory {
  margin-bottom: 3em;
}
.sec-backstory textarea {
  font-size: 1em;
  padding: 0.5em;
}

.preview {
  text-overflow: wrap;
  text-align: center;
  margin-top: 1em;
  padding: 1em;
  border: 1px solid black;
}

.placeholder {
  color: #737373 !important;
  border-color: #737373 !important;
}

.wmde-markdown {
  display: grid;
  place-items: center;
}
.wmde-markdown h1,
.wmde-markdown h2,
.wmde-markdown h3,
.wmde-markdown h4,
.wmde-markdown h5,
.wmde-markdown h6 {
  border-color: #2d2d2d !important;
}
.wmde-markdown hr {
  border-color: #2d2d2d !important;
  width: 100%;
}

.create-description-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1em 0em;
  padding: 0em 5em;
  row-gap: 0.5em;
  place-items: center;
}
@media (max-width: 1300px) {
  .create-description-inputs {
    font-size: 0.9em;
  }
}
.create-description-inputs label {
  margin-right: 0.5em;
}

.load-page-container {
  background-color: #e6e6e6;
  height: 100vh;
}

.load-character-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.load-character-main {
  display: grid;
  height: 100vh;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.8fr 4fr 4fr;
}
.load-character-main .load-player-header {
  grid-column: 1/-1;
}
.load-character-main .load-character-sidebar {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.stat-header {
  transition: all 0.05s ease;
  cursor: pointer;
  cursor: pointer;
  user-select: none;
  text-align: center;
  padding: 0.5em;
  width: 4em;
  border: 0.15em solid black;
  border-radius: 20px;
  background-color: #e6e6e6;
  transition: all 0.05s ease;
}
.stat-header:hover {
  transform: translateY(-0.1em);
  box-shadow: 0 5px 10px -5px black;
}
.stat-header:active {
  transform: translateY(0);
}
.stat-header:hover {
  border-color: #e40712;
}
.stat-header .stat-value {
  color: #e40712;
}

.stat-headers {
  display: flex;
  justify-content: space-around;
  padding: 0 15rem;
}

.stat-dice {
  transition: all 0.05s ease;
  cursor: pointer;
  position: relative;
  top: 0.2em;
  background-color: transparent;
  cursor: pointer;
  font-size: 2.5em;
  display: grid;
  place-items: center;
}
.stat-dice:hover {
  transform: translateY(-0.1em);
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.stat-dice:active {
  transform: translateY(0);
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}
.stat-dice:hover {
  color: #e40712;
}

.item-card-container {
  border-radius: 15px;
  margin: 0.1em;
  padding: 1em;
  width: 10em;
  height: 18em;
  border: 2px solid #2d2d2d;
  background-color: #e6e6e6;
}
.item-card-content {
  height: 100%;
  font-size: 0.5em;
  display: grid;
  grid-template-rows: 1fr 0.5fr 5fr 2fr;
}
.item-card-content .header {
  display: grid;
  grid-template-rows: 2em 1fr;
  grid-template-columns: 5fr 1fr;
  grid-template-areas: "name icon" "rarity icon";
}
.item-card-content .header .name {
  grid-area: name;
}
.item-card-content .header .rarity {
  grid-area: rarity;
}
.item-card-content .header .icon {
  grid-area: icon;
  font-size: 2.5em;
}
.item-card-content .description {
  overflow-y: auto;
  padding: 1em;
  text-align: left;
  border: 1px solid black;
}
.item-card-content .rollable {
  display: grid;
  place-items: center;
  font-size: 5em;
  height: 100%;
}
.item-card-content .weight {
  float: right;
  color: #2d2d2d;
  font-size: 0.8em;
  vertical-align: bottom;
  position: relative;
  top: 4px;
}

.spell-card-container {
  border-radius: 15px;
  margin: 0.1em;
  padding: 1em;
  width: 10em;
  height: 18em;
  border: 2px solid #2d2d2d;
  background-color: #e6e6e6;
}
.spell-card-content {
  display: grid;
  grid-template-rows: 25% 50% 25%;
  grid-template-columns: 100%;
}
.spell-card-header {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(4, 25%);
  grid-template-areas: "sc-name sc-name sc-level sc-school" "sc-range sc-range  sc-dur sc-dur" "sc-cast sc-cast sc-components sc-components";
}
.spell-card-header #sc-name {
  grid-area: sc-name;
  font-size: 0.7em;
}
.spell-card-header #sc-level {
  grid-area: sc-level;
}
.spell-card-header #sc-school {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  grid-area: sc-school;
}
.spell-card-header #sc-school span {
  display: block;
  margin-top: 0.5em;
  font-size: 0.5em;
}
.spell-card-header #sc-range {
  grid-area: sc-range;
  font-size: 0.5em;
}
.spell-card-header #sc-dur {
  font-size: 0.5em;
  grid-area: sc-dur;
}
.spell-card-header #sc-cast {
  font-size: 0.5em;
  grid-area: sc-cast;
}
.spell-card-header #sc-components {
  font-size: 0.5em;
  grid-area: sc-components;
}
.spell-card-description .description {
  overflow-y: auto;
  height: 100%;
  padding: 1em;
  text-align: left;
  border: 1px solid black;
  font-size: 0.6em;
}
.spell-card-rollable .rollable {
  display: grid;
  place-items: center;
  height: 100%;
  font-size: 2.5em;
}

.item-modal {
  display: grid;
  grid-template-rows: 2fr 1fr;
}
.item-modal .item-form {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

input {
  font-size: inherit;
  font-weight: inherit;
  background-color: inherit;
  border: none;
  border-bottom: 0.07em solid #e40712;
  outline: none;
  max-width: 60%;
}
input:focus {
  border-color: #fa575f;
  outline: none;
}
input[type=number] {
  text-align: center;
  border-bottom: 0.1em solid #e40712;
}

.hit-dice-input {
  width: 3ch;
  display: inline-block;
}
.hit-dice-input::placeholder {
  font-size: 0.7em;
}
.hit-dice-input::-webkit-outer-spin-button, .hit-dice-input::-webkit-inner-spin-button {
  appearance: none;
}

.dnd-logo {
  position: relative;
  top: 4%;
  filter: drop-shadow(0px 10px 50px rgba(228, 7, 18, 0.2));
}

.info {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-left: 0.6em;
  font-size: 1.1em;
  top: -0.6em;
  left: -0.3em;
  color: #7a7a7a;
}

.checkbox {
  display: inline-block;
}

.weapon-props-modal {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.weapon-props-modal i {
  font-size: 5em;
}

.wp-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@keyframes pop-open {
  0% {
    transform: scale(0.2, 0.2);
  }
  80% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  display: grid;
  place-items: center;
}
.modal .close-button {
  position: absolute;
  right: 15px;
  top: 10px;
}
.modal .modal-content {
  position: absolute;
  backdrop-filter: blur(3px);
  animation: pop-open 0.2s ease forwards;
  color: white;
  background-color: rgba(45, 45, 45, 0.9);
  padding: 2em;
  border: 2px solid #fb898e;
  border-radius: 20px;
  height: 80%;
  width: 40%;
}

.hp-heart-container {
  transition: all 0.1s ease;
  position: relative;
  display: grid;
  place-items: center;
  max-height: 6em;
  color: #2d2d2d;
  overflow: hidden;
}
.hp-heart-container:focus-within {
  color: #e40712;
}
.hp-heart-container .hp-heart-content {
  position: relative;
  top: -1em;
}
.hp-heart-container .heart {
  position: relative;
  font-size: 5em;
  color: inherit;
}
.hp-heart-container .label {
  position: relative;
  top: 4.1em;
  left: 0.05em;
}
.hp-heart-container .input {
  position: relative;
  display: block;
  top: -4em;
  left: 0.5px;
}
.hp-heart-container .input input {
  width: 3.2em;
}

.hp-input {
  width: 30%;
}
.hp-input::-webkit-outer-spin-button, .hp-input::-webkit-inner-spin-button {
  appearance: none;
}

button {
  transition: all 0.2s ease;
  cursor: pointer;
  padding: 1em;
  font-size: 1em;
  border: 0.15em solid #e40712;
  border-radius: 0.4em;
  background-color: #2d2d2d;
  color: #e6e6e6;
  box-shadow: 0px 5px 10px 5px rgba(228, 7, 18, 0.3);
}
button:hover {
  transform: translateY(-0.1em);
  background-color: #e40712;
}

.back-button {
  width: 100%;
}

@keyframes rotate-chevron {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.button-collapse {
  display: block;
  font-size: 1em;
  position: relative;
  top: 1em;
  right: 1em;
  float: right;
}

.rotate {
  transition: all 0.2s ease;
  transform: rotate(180deg);
}
.rotate.reverse {
  transform: rotate(0deg);
}

.mini-stats {
  display: block;
  color: white;
  text-align: center;
}
.mini-stats-stats {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
