.create-character {
    .create-header {
        text-align: center;

        padding-bottom: 0.5em;
        padding-top: 0.5em;

        border-bottom: 2px solid $color_dark;
        background-color: $color_off_light;
        color: $color_dark;
        .name {
            height: 3em;
            margin-bottom: 1rem;
        }
        .classes {
            height: 1em;
            margin-bottom: 0.7em;
        }
    }
}

.create-input {
    display: grid;
    grid-template-columns: 20% auto;
    column-gap: 0.5em;
    label {
        text-align: right;
    }
}

.race-input {
    text-align: center;
    font-size: 2em;
    // border-width: 0.0em;
}

.create-char-name {
    text-align: center;
}

.create-body {
    display: flex;
    margin-top: 0.3em;
    justify-content: center;
    .class-select {
        .selected {
            color: $color_primary;
        }
        .class {
            user-select: none;
            cursor: pointer;
            @include hover-animation-text(-0.1em, 0);
            &:hover {
                color: lighten($color_primary, 5%);
            }
            &:active {
                color: $color_primary;
            }
        }
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 0.7em;
    }
}

.hp-icon {
    position: relative;
    top: 7px;
    &:hover {
        color: $color_primary;
    }
}

.create-level-sub {
    color: $color_primary;
    margin-left: -0.2em;
}

.header-links {
    text-align: center;
    color: $color_light;
    & :first-child {
        margin-top: 1em;
    }
}

.create-sidebar-link {
    cursor: pointer;
    padding: 0.5em 1em;
    border: 0.1em solid transparent;
    &:hover {
        border: 0.1em solid $color_light;
        // background-color: $color_primary;
    }
}
.create-sec-saving-throws {
    font-size: 1.5em;
}

.create-sec-proficiencies {
    position: relative;
    //ADD MEDIA QUERY HERE
    left: -10%;
    // @media (max-width: $width_tablet) {
    // }
    font-size: 1.2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5em;
    width: 60%;
    margin-bottom: 1em;
    @media (max-width: $width_phone_small) {
        font-size: 1.2rem;
        width: 70%;
    }
}

.create-proficiencies-subheader {
    font-size: 0.6em;
    display: inline-block;
    user-select: none;
    color: lighten($color_off_dark, 30%);
}

.other-proficiency-list {
    width: 100%;
    font-size: 1.2em;
    min-height: 5em;
    position: relative;
    left: 10%;
}

.add-other-proficiency {
    font-size: 1.6em;
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 1em;
    input {
        display: block;
    }
    i {
        display: block;
        position: relative;
        top: 0.3em;
        margin-left: 1em;
    }
}

.create-alignment {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
