.create-character {
    .create-header {
        text-align: center;

        padding-bottom: 0.5em;
        padding-top: 0.5em;

        border-bottom: 2px solid $color_dark;
        background-color: $color_off_light;
        color: $color_dark;
        .name {
            height: 3em;
            margin-bottom: 1rem;
        }
        .classes {
            height: 1em;
            margin-bottom: 0.7em;
        }
    }
}

.create-input {
    display: grid;
    grid-template-columns: 20% auto;
    column-gap: 0.5em;
    label {
        text-align: right;
    }
}

.race-input {
    text-align: center;
    font-size: 2em;
    // border-width: 0.0em;
}

.create-char-name {
    text-align: center;
}

.create-body {
    display: flex;
    margin-top: 0.3em;
    width: 100%;
    justify-content: center;
    .class-select {
        .selected {
            color: $color_primary;
        }
        .class {
            user-select: none;
            cursor: pointer;
            @include hover-animation-text(-0.1em, 0);
            &:hover {
                color: lighten($color_primary, 5%);
            }
            &:active {
                color: $color_primary;
            }
        }
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 0.7em;
    }
}

.hp-icon {
    position: relative;
    top: 7px;
    &:hover {
        color: $color_primary;
    }
}

.create-level-sub {
    color: $color_primary;
    margin-left: -0.2em;
}

.header-links {
    text-align: center;
    color: $color_light;
    height: 95%;
    overflow-y: auto;
    & :first-child {
        margin-top: 1em;
    }
}

.create-sidebar-link {
    cursor: pointer;
    padding: 0.2em 1em;
    border: 0.1em solid transparent;
    &:hover {
        border: 0.1em solid $color_light;
    }
}
.create-sec-saving-throws {
    font-size: 1.5em;
}

.create-sec-proficiencies {
    position: relative;
    //ADD MEDIA QUERY HERE
    @media (max-width: 1500px) {
        font-size: 0.9em;
    }
    font-size: 1.2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5em;
    width: 60%;
    margin-bottom: 2em;
    @media (max-width: $width_phone_small) {
        font-size: 1.2rem;
        width: 70%;
    }
}

.create-proficiencies-subheader {
    font-size: 0.6em;
    display: inline-block;
    user-select: none;
    color: lighten($color_off_dark, 30%);
}

.other-proficiency-list {
    width: 100%;
    font-size: 1.2em;
    min-height: 5em;
    position: relative;
    left: 10%;
}

.add-other-proficiency {
    font-size: 1.6em;
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 1em;
    input {
        display: block;
    }
    i {
        display: block;
        position: relative;
        top: 0.3em;
        margin-left: 1em;
    }
}

.create-alignment {
    display: grid;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.3em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: $color_off_dark;
    color: $color_off_light;
    padding: 1em;
    gap: 0.2em;

    .alignment {
        cursor: pointer;
        height: 4em;
        width: 4em;
        display: grid;
        place-items: center;
        transition: all 0.1s ease-in-out;
        user-select: none;
        &:hover {
            background-color: $color_light;
            color: $color_off_dark;
            border-radius: 1em;
        }

        &.active {
            @keyframes fill-box {
                from {
                    border-radius: initial;
                }

                to {
                    border-radius: 0em;
                    background-color: $color_light;
                    color: $color_off_dark;
                }
            }
            animation: fill-box 0.5s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
        }
    }
}
.create-sec-items {
    display: grid;
    grid-template-rows: 1fr;
    max-width: 80%;
    row-gap: 1em;
    place-items: center;

    .item-form {
        display: grid;
        gap: 0.5em;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 2.5em 2em 2em 10em 1fr 3.5em;
        grid-template-areas:
            'name name name name name name name name'
            'rarity rarity rarity rarity type type type type'
            'weight weight weight cost cost cost cost cost'
            'desc desc desc desc desc desc desc desc'
            'rp rp rp rp rp rp rp rp'
            'submit submit submit submit submit submit submit submit';

        #name {
            grid-area: name;
            input {
                max-width: 100% !important;
                width: 100%;
            }
        }

        #rarity {
            grid-area: rarity;
        }

        #type {
            grid-area: type;
        }

        #weight {
            grid-area: weight;
            input {
                max-width: 100%;
                max-height: 100%;
                width: 100%;
                height: 100%;
            }
        }

        #cost {
            grid-area: cost;
            input {
                max-width: 100%;
                max-height: 100%;
                width: 100%;
                height: 100%;
            }
        }

        #desc {
            grid-area: desc;
            max-height: 10em;
            textarea {
                display: block;
                width: 100%;
                height: 100%;
                resize: none;
            }
        }
        #submit {
            grid-area: submit;
        }
        #rollable-property {
            grid-area: rp;
            max-width: 100%;
            overflow: hidden;
        }
    }
}
.item-cards-container {
    width: 100%;
    display: grid;
    place-items: center;
}
.item-cards {
    max-height: 41em;
    font-size: 0.8em;
    padding: 1em;
    border: 1px solid $color_dark;
    display: flex;
    $cards-per-row: 3;

    max-width: 10.9em * $cards-per-row;
    flex-wrap: wrap;
    overflow-y: auto;
    width: 100%;
}
.rollable-property {
    margin-top: 1em;
    .rp-form {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 30% 30% 30% 10%;
        i {
            font-size: 1.5em;
        }
    }
    .list {
        margin-top: 0.7em;
        border: 1px solid $color_off_primary;
        border-radius: 2px;
        display: grid;
        background-color: $color_off_dark;
        $rp-row-height: 3.1em;
        max-height: 5 * $rp-row-height;
        overflow-y: scroll;
        & > :not(:first-child) {
            margin-top: 1em;
        }
        .rollable-row {
            color: darken($color_off_light, 10%);
            font-weight: 200;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 0.1fr;
            grid-template-areas: 'rr-name rr-dice rr-type rr-trash';
            border-bottom: 1px dashed $color_off_light;
            & > * {
                padding: 0.5em;
            }
            .rr-name {
                grid-area: rr-name;
            }
            .rr-dice {
                grid-area: rr-dice;
            }

            .rr-type {
                grid-area: rr-type;
            }

            .rr-trash {
                grid-area: rr-trash;
            }
        }
    }
}

.create-sec-spells {
    width: 80%;
    .submit {
        button {
            width: 100%;
            margin: 1em 0em;
        }
    }
    .spell-form {
        gap: 0.5em;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr 1fr 3fr;
        grid-template-areas:
            'sf-name sf-name sf-name sf-name'
            'sf-level sf-level sf-school sf-school'
            'sf-casting-time sf-range sf-component sf-duration'
            'sf-desc sf-desc sf-desc sf-desc';

        & input {
            max-width: 100%;
            width: 100% !important;
        }
    }
    #sf-name {
        grid-area: sf-name;
    }

    #sf-level {
        grid-area: sf-level;
    }

    #sf-school {
        grid-area: sf-school;
    }

    #sf-casting-time {
        grid-area: sf-casting-time;
    }
    #sf-range {
        grid-area: sf-range;
    }

    #sf-component {
        grid-area: sf-component;
    }
    #sf-duration {
        grid-area: sf-duration;
    }

    #sf-description {
        grid-area: sf-desc;
    }
}

.sec-backstory {
    margin-bottom: 3em;

    textarea {
        font-size: 1em;
        padding: 0.5em;
    }
}
.preview {
    text-overflow: wrap;
    text-align: center;
    margin-top: 1em;
    padding: 1em;

    border: 1px solid $color_dark;
}
.placeholder {
    color: #737373 !important;
    border-color: #737373 !important;
}
.wmde-markdown {
    display: grid;
    place-items: center;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        border-color: $color_off_dark !important;
    }
    hr {
        border-color: $color_off_dark !important;
        width: 100%;
    }
}

.create-description-inputs {
    display: grid;
    $col_width: 1fr;
    grid-template-columns: $col_width $col_width;
    margin: 1em 0em;
    padding: 0em 5em;
    row-gap: 0.5em;
    place-items: center;
    @media (max-width: 1300px) {
        font-size: 0.9em;
    }
    label {
        margin-right: 0.5em;
    }
}
