.home {
    display: grid;
    grid-template-rows: 4fr 1fr;

    &-button-container {
        display: flex;
        font-size: 1.4em;
        .fill {
            width: 100%;
            height: 100%;
        }
    }
}

.no-decoration {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
