.item-card {
    &-container {
        $scale: 4;
        border-radius: 15px;
        padding: 1em;
        width: 2.5em * $scale;
        height: 3.5em * $scale;
        border: 2px solid $color_off_dark;
        background-color: $color_off_light;
    }

    &-content {
        font-size: 0.5em;
    }
}
