/* custom scrollbar */
html {
    & > ::-webkit-scrollbar {
        position: absolute;
        width: 1em;

        background-color: $color_off_dark;
    }
}

// ::-webkit-scrollbar-track {
//     background-color: $color_off_dark;
// }

::-webkit-scrollbar {
    position: absolute;
    width: 0.5em;

    background-color: $color_off_dark;
}
.description > ::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
}

::-webkit-scrollbar-thumb {
    background-color: darken($color_off_light, 20%);
    border: 1em solid transparent;
    border-radius: 20px;
    &:hover {
        background-color: darken($color_light, 20%);
    }
}
