.sliding-icon-button {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    .sliding-icon {
    }
    &:hover .sliding-text {
        width: 100%;
    }
    .sliding-text {
        position: relative;
        left: -0.8em;
        overflow: hidden;
        transition: all 0.2s ease;
        width: 0%;
    }
}
